$fontColor: #232323;
$fontColor2: white;
$fontColorHover: #FFA500;
$main: #ff6600;
$BGcolor: #FFA500;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin:0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 150px;
    padding: 0 100px;
    box-sizing: border-box;
    transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: 0.3s;
    position: fixed;

    .title{
        font-size: 55px;
        letter-spacing: 5px;
        pointer-events: none;
    }


    .nav-menu{
        
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;

            li{
                margin: 0 20px;
            
                a{
                    text-decoration: none;
                    color:$fontColor;
                    font-size: 20px;
                    transition: 0.3s;
                }
                a:hover{
                    color: $fontColorHover;
                    text-shadow: 5px 5px 20px #FFA500;
                }
            }
        }

    }
}

.sticky{
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 40, 10, 0.35) 0px -2px 6px 0px ;
    z-index: 1;
}

main{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2000' preserveAspectRatio='none' viewBox='0 0 1440 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='2000' x='0' y='0' fill='rgba(255%2c 120%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c986.372C180.453%2c1008.883%2c314.626%2c825.925%2c468.23%2c728.581C622.967%2c630.519%2c843.621%2c585.861%2c904.582%2c413.109C965.89%2c239.374%2c819.287%2c65.915%2c764.102%2c-109.861C718.674%2c-254.561%2c696.322%2c-403.726%2c609.17%2c-527.849C515.232%2c-661.638%2c402.179%2c-790.309%2c248.06%2c-844.816C90.299%2c-900.611%2c-80.211%2c-865.825%2c-243.541%2c-829.425C-416.776%2c-790.817%2c-597.86%2c-752.094%2c-724.761%2c-628.009C-856.389%2c-499.301%2c-924.66%2c-318.933%2c-951.827%2c-136.852C-979.088%2c45.854%2c-987.266%2c251.935%2c-878.311%2c401.111C-772.488%2c545.999%2c-548.034%2c520.939%2c-398.726%2c620.43C-245.499%2c722.533%2c-182.713%2c963.579%2c0%2c986.372' fill='%23cc6000'%3e%3c/path%3e%3cpath d='M1440 2687.404C1574.718 2688.367 1711.806 2672.078 1826.541 2601.469 1942.48 2530.119 2014.106 2411.282 2081.178 2292.816 2153.846 2164.467 2232.3469999999998 2033.689 2231.508 1886.198 2230.61 1728.233 2181.615 1566.385 2076.377 1448.577 1971.768 1331.473 1810.164 1296.415 1660.955 1247.4969999999998 1507.003 1197.024 1352.628 1130.962 1193.054 1158.981 1024.478 1188.5810000000001 847.422 1262.4160000000002 755.123 1406.551 664.994 1547.298 744.722 1731.184 720.722 1896.583 696.678 2062.289 541.739 2226.182 614.296 2377.0860000000002 687.104 2528.513 899.715 2536.858 1056.995 2595.967 1182.4 2643.0969999999998 1306.034 2686.446 1440 2687.404' fill='%23ff9333'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
    width: 100%;
    height: max-content;
    // height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 130px;
    margin-top: 160px;

    .user-info{
        padding: 115px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        background-image: url('./jak-zalozyc-zaklad-stolarski-1200x801.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .user-image{
            // border-top: 3px solid $main;
            // border-bottom: 3px solid $main;
            // border-left: 3px solid $main;
            background-color: white;
            border-radius: 100%;
            padding: 20px;
            width: 320px;
            height: 320px;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-photo{
                width: 300px;
                border-radius: 100%;
            }
        }

        .user-desc{
            width: 60%;
            // border-top: 2px solid $main;
            // border-bottom: 2px solid $main;
            border-radius: 0 15px 15px 0;
            // border-radius: 15px;
            padding: 20px 15px;
            background-color: white;
            position: relative;
            left: -18px;
            font-size: 1.7vw;
        }
    }

    .renovatioGallery{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 60px;


        .title{
            font-size: 55px;
        }

        .photos{
            display:grid;
            grid-template-columns: auto auto;
            justify-items: center;
            row-gap: 3.5%;

            width: 60%;
            padding: 50px;
            border-radius: 50px;
            background-color: white;

            .photoHeader{
                color:$fontColor;
                font-size: 35px;
                text-transform: uppercase;
            }

            img{
                width:  90%;
                height: 100%;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }

    .furnitures{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 60px;

        .title{
            font-size: 55px;
        }

        .photos{
            // display:flex;
            // flex-direction: column;
            // justify-items: center;
            // align-items: center;
            // gap: 40px;
            display:grid;
            grid-template-columns: auto auto;
            justify-items: center;
            row-gap: 3.5%;


            width: 60%;
            padding: 50px;
            border-radius: 50px;
            background-color: rgb(255, 255, 255);

            .photoHeader{
                color:$fontColor;
                font-size: 35px;
                text-transform: uppercase;
            }

            img{
                width:  90%;
                height: 100%;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }

    .contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        background-image: url('./jak-zalozyc-zaklad-stolarski-1200x801.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 50px 0;

        .contactTitle{
            font-size: 75px;
            color: white;
        }

        .contact-form{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            padding: 35px;
            // background-color: white;
            border-radius: 30px;

            .formHeader{
                font-size: 25px;
                color: white;
            }

            input{
                width: 500px;
                height: 35px;
                border-radius: 10px;
                border: 3px solid white;
                outline: none;
                text-indent: 15px;
                caret-color: $BGcolor;
                background-color: transparent;
                color:white;
                transition: 0.3s;
            }

            input:focus{
                background-color: white;
                color:$fontColor;
            }
            
            .message{
                min-height: 150px;
                width: 500px;
                resize: none;
                border-radius: 10px;
                border: 3px solid white;
                outline: none;
                padding: 10px 15px;
                box-sizing: border-box;
                caret-color: $BGcolor;
                background-color: transparent;
                transition: 0.3s;
                color: white;
            }

            .message:focus{
                background-color: white;
                color:$fontColor;
            }

            .submitBtn{
                width: 150px;
                height: 35px;
                color:white;
                border: 3px solid white;
                border-radius: 10px;
                text-indent: 0;
                cursor: pointer;
                transition: 0.3s;
                text-transform: uppercase;
                background-color: transparent;
                margin-top: 15px;
            }
            
            .submitBtn:hover{
                background-color: $BGcolor;
                border: 1px solid $BGcolor;
                color:$fontColor2;
            }
        }
    }

    .redirect-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 78vh;
        background-color: $BGcolor;

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-color: white;
            padding: 30px;
            border-radius: 20px;
        }
    }

}

.showImg{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(2, 2, 2, 0.809);
    
    position: fixed;
    z-index: 1;
    top:0;

    display: none;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
    }

    .closeImg{
        position: absolute;
        top:20px;
        right: 20px;

        font-size: 35px;
        border:none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;

        color:$fontColor2;
    }

    .closeImg:hover{
        opacity: 60%;
    }
}

.showImgToggle{
    display: flex;
    overflow-y: hidden;
}


footer{
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-info{
        padding: 0 25px;
        box-sizing: border-box;
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .title{
            font-size: 55px;
            letter-spacing: 5px;
            pointer-events: none;
            display: flex;
            flex-direction: column;
        }

        .footer-contact{
            // background-color: tomato;
            padding: 25px;

            a{
                color:#1877f2;
            }
        }
    }
}

.copyright{
    font-size: 15px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.navMenuBtn{
    border:none;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top:20px;
    background-color: white;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navMenuBtn:hover{
    color:#FFA500;
}

.closeBtn{
    border:none;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    display: none;
    transition: 0.3s;
}

.closeBtn:hover{
    color:#FFA500;
}

.topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    scale: 0;
    transition: 0.3s;

    .goUp{
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 50px;
        padding: 0 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        a{
            scroll-behavior: smooth;
            border:none;
            background-color: transparent;
            cursor: pointer;
            color: #232323;
            text-decoration: none;
            text-align: center;

            i{
                font-size: 60px;
                pointer-events: none;
            }
            p{
                position: relative;
                top: -20px;
                display: none;
            }
        }

    }
}

.showGoUpBtn{
    scale:1;
}

.alert{
    width: 50%;
    height: 80px;
    background-color: white;
    border-radius: 15px;

    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:20px;

    .alert-text{
        font-size: 20px;
    }

}

.alertExit{
    animation-name: alertExit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes alertExit {
    0%{
        transform: translateX(0);
    }
    
    60%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    header{
        padding: 0 50px;

        .title{
            font-size: 5vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }


    footer{

        .footer-info{
            .title{
                font-size: 5vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    header{
        padding:0 25px;

        .title{
            font-size: 5vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }

    main{
        
        .user-info{
            flex-direction: column;

            .user-image{
                border: 3px solid $main;
            }
            
            .user-desc{
                border: unset;
                border-radius: 15px;
                width: 80%;
                text-align: justify;
                position: relative;
                left: unset;
                top: 10px;
                font-size: 20px;
                text-align: center;
            }
        }

        .renovatioGallery{

            .photos{
                img{
                    width: 26vw;
                }
            }

        }

        .furnitures{

            .photos{
                // width: 40%;
                
                img{
                    width: 26vw;
                    height: 100%;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }

        .contact{
            gap: 30px;

            .contactTitle{
                font-size: 60px;
            }

            .contact-form{
                width: 75%;

                .formHeader{
                    font-size: 20px;
                }
    
                input{
                    width: 80%;
                }
                
                .message{
                    width: 80%;
                }
            }
        }

        .redirect-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 78vh;
            background-color: $BGcolor;
    
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 80%;
    
                background-color: white;
                padding: 30px;
                border-radius: 20px;
            }
        }

    }

    footer{
        padding: 0;

        .footer-info{
            .title{
                font-size: 5vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    }

    .showImg{
        img{
            width: 70%;
        }
    }
}

@media screen and (max-width: 480px){
    header{
        padding: 0 50px;
        justify-content: space-around;
        position: unset;

        .nav-menu{
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.19) 5px 5px 5px, rgba(0, 0, 0, 0.23) 0px 0px 5px;
            position: fixed;
            right: 0;
            top:0;
            z-index: 1;
            display: block;
            transform: translateX(100%);
            transition: 0.3s;
            
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                min-height: 100vh;
                padding: 70px 30px;
    
                li{
                    margin: 20px 0;
                
                    a{
                        text-decoration: none;
                        color:$fontColor;
                        font-size: 20px;
                    }
                }
            }
            .closeBtn{
                border:none;
                background-color: transparent;
            }
        }

        .title{
            font-size: 7vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }
    .sticky{
        position: unset;
        height: 150px;
        box-shadow: unset;
        z-index: 1;
    }
    main{
        margin-top: unset;

        .user-info{
            flex-direction: column;

            .user-image{
                border: 3px solid $main;
                
                img{
                    width: 240px;
                }
            }
            
            .user-desc{
                border: unset;
                border-radius: 15px;
                width: 80%;
                text-align: justify;
                position: relative;
                left: unset;
                top: 10px;
                font-size: 20px;
                text-align: center;
            }
        }

        .renovatioGallery{
            gap: 60px;

            .title{
                font-size: 35px;
            }

            .photos{
                padding: 35px 20px;
                width: 70%;
                row-gap: 3.5%;

                .photoHeader{
                    color:$fontColor;
                    font-size: 8vw;
                    text-transform: uppercase;
                }

                img{
                    width: 30vw;
                }
            }

        }
        
        .furnitures{

            .title{
                font-size: 35px;
            }

            .photos{
                width: 65%;
                gap: 15px;
                padding: 30px;
                
                img{
                    width:  100%;
                    height: 100%;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }

        .contact{
            gap: 30px;

            .contactTitle{
                font-size: 60px;
            }

            .contact-form{

                width: 75%;

                .formHeader{
                    font-size: 20px;
                }
    
                input{
                    width: 100%;
                }
                
                .message{
                    width: 100%;
                }

                .submitBtn{
                    width: 45%;
                }
            }
        }

        .redirect-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 78vh;
            background-color: $BGcolor;
    
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 80%;
                text-align: center;
    
                background-color: white;
                padding: 30px;
                border-radius: 20px;
            }
        }
    }

    footer{
        padding: 0;

        .footer-info{
            padding: 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .title{
                font-size: 7vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    
    
    }

    .showImg{
        img{
            width: 85%;
        }
    }

    .navMenuBtn{
        display: flex;
        position: fixed;
        z-index: 1;
    }

    .closeBtn{
        display: block;
        top: 10px;
        left: 10px;
    }

    .topBtn{
        display: none;
    }
}