$fontColor: #232323;
$fontColor2: white;
$fontColorHover: #FFA500;
$main: rgb(255, 102, 0);
$BGcolor: #FFA500;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin:0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 150px;
    padding: 0 100px;
    box-sizing: border-box;
    transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: 0.3s;
    position: fixed;

    .title{
        font-size: 55px;
        letter-spacing: 5px;
        pointer-events: none;
    }


    .nav-menu{
        
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;

            li{
                margin: 0 20px;
            
                a{
                    text-decoration: none;
                    color:$fontColor;
                    font-size: 20px;
                    transition: 0.3s;
                }
                a:hover{
                    color: $fontColorHover;
                    text-shadow: 5px 5px 20px #FFA500;
                }
            }
        }

    }
}

.sticky{
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(64, 40, 10, 0.35) 0px -2px 6px 0px ;
    z-index: 1;
}

main{
    background-color: $BGcolor;
    width: 100%;
    height: max-content;
    // height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 130px;
    margin-top: 160px;

    .user-info{
        padding: 115px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        background-image: url('./jak-zalozyc-zaklad-stolarski-1200x801.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .user-image{
            // border-top: 3px solid $main;
            // border-bottom: 3px solid $main;
            // border-left: 3px solid $main;
            background-color: white;
            border-radius: 100%;
            padding: 20px;
            width: 320px;
            height: 320px;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-photo{
                width: 300px;
                border-radius: 100%;
            }
        }

        .user-desc{
            width: 60%;
            // border-top: 2px solid $main;
            // border-bottom: 2px solid $main;
            border-radius: 0 15px 15px 0;
            // border-radius: 15px;
            padding: 20px 15px;
            background-color: white;
            position: relative;
            left: -18px;
            font-size: 1.7vw;
        }
    }

    .renovatioGallery{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 60px;

        .title{
            font-size: 55px;
        }

        .photos{
            display:grid;
            grid-template-columns: auto auto;
            justify-items: center;
            row-gap: 3.5%;

            width: 60%;
            padding: 50px;
            border-radius: 50px;
            background-color: white;

            .photoHeader{
                color:$fontColor;
                font-size: 35px;
                text-transform: uppercase;
            }

            img{
                width:  90%;
                height: 100%;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }

    .furnitures{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 60px;

        .title{
            font-size: 55px;
        }

        .photos{
            // display:flex;
            // flex-direction: column;
            // justify-items: center;
            // align-items: center;
            // gap: 40px;
            display:grid;
            grid-template-columns: auto auto;
            justify-items: center;
            row-gap: 3.5%;


            width: 60%;
            padding: 50px;
            border-radius: 50px;
            background-color: rgb(255, 255, 255);

            .photoHeader{
                color:$fontColor;
                font-size: 35px;
                text-transform: uppercase;
            }

            img{
                width:  90%;
                height: 100%;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }

    .contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        background-image: url('./jak-zalozyc-zaklad-stolarski-1200x801.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 50px 0;

        .contactTitle{
            font-size: 75px;
            color: white;
        }

        .contact-form{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            padding: 35px;
            // background-color: white;
            border-radius: 30px;

            .formHeader{
                font-size: 25px;
                color: white;
            }

            input{
                width: 500px;
                height: 35px;
                border-radius: 10px;
                border: 3px solid white;
                outline: none;
                text-indent: 15px;
                caret-color: $BGcolor;
                background-color: transparent;
                color:white;
                transition: 0.3s;
            }

            input:focus{
                background-color: white;
                color:$fontColor;
            }
            
            .message{
                min-height: 150px;
                width: 500px;
                resize: none;
                border-radius: 10px;
                border: 3px solid white;
                outline: none;
                padding: 10px 15px;
                box-sizing: border-box;
                caret-color: $BGcolor;
                background-color: transparent;
                transition: 0.3s;
                color: white;
            }

            .message:focus{
                background-color: white;
                color:$fontColor;
            }

            .submitBtn{
                width: 150px;
                height: 35px;
                color:white;
                border: 3px solid white;
                border-radius: 10px;
                text-indent: 0;
                cursor: pointer;
                transition: 0.3s;
                text-transform: uppercase;
                background-color: transparent;
                margin-top: 15px;
            }
            
            .submitBtn:hover{
                background-color: $BGcolor;
                border: 1px solid $BGcolor;
                color:$fontColor2;
            }
        }
    }

    .redirect-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 78vh;
        background-color: $BGcolor;

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-color: white;
            padding: 30px;
            border-radius: 20px;
        }
    }

}

.showImg{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(2, 2, 2, 0.809);
    
    position: fixed;
    z-index: 1;
    top:0;

    display: none;
    justify-content: center;
    align-items: center;

    img{
        width: 500px;
    }

    .closeImg{
        position: absolute;
        top:20px;
        right: 20px;

        font-size: 35px;
        border:none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;

        color:$fontColor2;
    }

    .closeImg:hover{
        opacity: 60%;
    }
}

.showImgToggle{
    display: flex;
    overflow-y: hidden;
}


footer{
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-info{
        padding: 0 25px;
        box-sizing: border-box;
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .title{
            font-size: 55px;
            letter-spacing: 5px;
            pointer-events: none;
            display: flex;
            flex-direction: column;
        }

        .footer-contact{
            // background-color: tomato;
            padding: 25px;

            a{
                color:#1877f2;
            }
        }
    }
}

.copyright{
    font-size: 15px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.navMenuBtn{
    border:none;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top:20px;
    background-color: white;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navMenuBtn:hover{
    color:#FFA500;
}

.closeBtn{
    border:none;
    background-color: transparent;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    display: none;
    transition: 0.3s;
}

.closeBtn:hover{
    color:#FFA500;
}

.topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    scale: 0;
    transition: 0.3s;

    .goUp{
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 50px;
        padding: 0 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        a{
            scroll-behavior: smooth;
            border:none;
            background-color: transparent;
            cursor: pointer;
            color: #232323;
            text-decoration: none;
            text-align: center;

            i{
                font-size: 60px;
                pointer-events: none;
            }
            p{
                position: relative;
                top: -20px;
                display: none;
            }
        }

    }
}

.showGoUpBtn{
    scale:1;
}

.alert{
    width: 50%;
    height: 80px;
    background-color: white;
    border-radius: 15px;

    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:20px;

    .alert-text{
        font-size: 20px;
    }

}

.alertExit{
    animation-name: alertExit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes alertExit {
    0%{
        transform: translateX(0);
    }
    
    60%{
        transform: translateX(-10%);
    }

    100%{
        transform: translateX(200%);
    }
}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    header{
        padding: 0 50px;

        .title{
            font-size: 5vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }


    footer{

        .footer-info{
            .title{
                font-size: 5vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    header{
        padding:0 25px;

        .title{
            font-size: 5vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }

    main{
        
        .user-info{
            flex-direction: column;

            .user-image{
                border: 3px solid $main;
            }
            
            .user-desc{
                border: unset;
                border-radius: 15px;
                width: 80%;
                text-align: justify;
                position: relative;
                left: unset;
                top: 10px;
                font-size: 20px;
                text-align: center;
            }
        }

        .renovatioGallery{

            .photos{
                img{
                    width: 26vw;
                }
            }

        }

        .furnitures{

            .photos{
                // width: 40%;
                
                img{
                    width: 26vw;
                    height: 100%;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }

        .contact{
            gap: 30px;

            .contactTitle{
                font-size: 60px;
            }

            .contact-form{
                width: 75%;

                .formHeader{
                    font-size: 20px;
                }
    
                input{
                    width: 80%;
                }
                
                .message{
                    width: 80%;
                }
            }
        }

        .redirect-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 78vh;
            background-color: $BGcolor;
    
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 80%;
    
                background-color: white;
                padding: 30px;
                border-radius: 20px;
            }
        }

    }

    footer{
        padding: 0;

        .footer-info{
            .title{
                font-size: 5vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    }

    .showImg{
        img{
            width: 70%;
        }
    }
}

@media screen and (max-width: 480px){
    header{
        padding: 0 50px;
        justify-content: space-around;
        position: unset;

        .nav-menu{
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.19) 5px 5px 5px, rgba(0, 0, 0, 0.23) 0px 0px 5px;
            position: fixed;
            right: 0;
            top:0;
            z-index: 1;
            display: block;
            transform: translateX(100%);
            transition: 0.3s;
            
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                min-height: 100vh;
                padding: 70px 30px;
    
                li{
                    margin: 20px 0;
                
                    a{
                        text-decoration: none;
                        color:$fontColor;
                        font-size: 20px;
                    }
                }
            }
            .closeBtn{
                border:none;
                background-color: transparent;
            }
        }

        .title{
            font-size: 7vw;
            letter-spacing: 5px;
            pointer-events: none;
        }
    }
    .sticky{
        position: unset;
        height: 150px;
        box-shadow: unset;
        z-index: 1;
    }
    main{
        margin-top: unset;

        .user-info{
            flex-direction: column;

            .user-image{
                border: 3px solid $main;
                
                img{
                    width: 240px;
                }
            }
            
            .user-desc{
                border: unset;
                border-radius: 15px;
                width: 80%;
                text-align: justify;
                position: relative;
                left: unset;
                top: 10px;
                font-size: 20px;
                text-align: center;
            }
        }

        .renovatioGallery{
            gap: 60px;

            .title{
                font-size: 35px;
            }

            .photos{
                padding: 35px 20px;
                width: 70%;
                row-gap: 3.5%;

                .photoHeader{
                    color:$fontColor;
                    font-size: 8vw;
                    text-transform: uppercase;
                }

                img{
                    width: 30vw;
                }
            }

        }
        
        .furnitures{

            .title{
                font-size: 35px;
            }

            .photos{
                width: 65%;
                gap: 15px;
                padding: 30px;
                
                img{
                    width:  100%;
                    height: 100%;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }

        .contact{
            gap: 30px;

            .contactTitle{
                font-size: 60px;
            }

            .contact-form{

                width: 75%;

                .formHeader{
                    font-size: 20px;
                }
    
                input{
                    width: 100%;
                }
                
                .message{
                    width: 100%;
                }

                .submitBtn{
                    width: 45%;
                }
            }
        }

        .redirect-box{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 78vh;
            background-color: $BGcolor;
    
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 80%;
                text-align: center;
    
                background-color: white;
                padding: 30px;
                border-radius: 20px;
            }
        }
    }

    footer{
        padding: 0;

        .footer-info{
            padding: 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            .title{
                font-size: 7vw;
                letter-spacing: 5px;
                pointer-events: none;
            }
        }
    
    
    }

    .showImg{
        img{
            width: 85%;
        }
    }

    .navMenuBtn{
        display: flex;
        position: fixed;
        z-index: 1;
    }

    .closeBtn{
        display: block;
        top: 10px;
        left: 10px;
    }

    .topBtn{
        display: none;
    }
}